#   ██████  ███████
#  ██    ██ ██
#  ██    ██ ███████
#  ██    ██      ██
#   ██████  ███████
#  - windows
Thumbs.db
desktop.ini

#  ██ ██████  ███████
#  ██ ██   ██ ██
#  ██ ██   ██ █████
#  ██ ██   ██ ██
#  ██ ██████  ███████
#  - phpstorm
#  - vscode
/.idea
/.vscode

#  ██████   █████   ██████ ██   ██  █████   ██████  ███████     ███    ███  █████  ███    ██  █████   ██████  ███████ ██████
#  ██   ██ ██   ██ ██      ██  ██  ██   ██ ██       ██          ████  ████ ██   ██ ████   ██ ██   ██ ██       ██      ██   ██
#  ██████  ███████ ██      █████   ███████ ██   ███ █████       ██ ████ ██ ███████ ██ ██  ██ ███████ ██   ███ █████   ██████
#  ██      ██   ██ ██      ██  ██  ██   ██ ██    ██ ██          ██  ██  ██ ██   ██ ██  ██ ██ ██   ██ ██    ██ ██      ██   ██
#  ██      ██   ██  ██████ ██   ██ ██   ██  ██████  ███████     ██      ██ ██   ██ ██   ████ ██   ██  ██████  ███████ ██   ██
#  - npm
#  - composer
/vendor
/node_modules

#  ██████  ██████   ██████       ██ ███████  ██████ ████████
#  ██   ██ ██   ██ ██    ██      ██ ██      ██         ██
#  ██████  ██████  ██    ██      ██ █████   ██         ██
#  ██      ██   ██ ██    ██ ██   ██ ██      ██         ██
#  ██      ██   ██  ██████   █████  ███████  ██████    ██
/react-ui-dist